<!-- <h1>{{Iproducts.PrdName}} </h1> -->
<!-- <img src={{Iproducts.prdImageUrl}}  alt="image" /> -->
<!-- <img [src]="Iproducts.prdImageUrl"  alt="image" /> -->



<!-- //loop cards -->
<!-- <div class="row">
  <div class="col-4" *ngFor="let Prd of Iproducts">
   <div class="card" style="width: 18rem;">
   <img class="card-img-top" [src]="Prd.prdImageUrl" alt="Card image cap">
   <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">quantity:</p>
    <p class="card-text">price:</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
 </div>
  </div>

</div> -->

<!---------------------------------------------------------------- //Day4 ---------------------------------------------------------------------------->
<div class="prd">
  <div class="row ">
    <!-- virtual container -->
     <!-- ng-container ,ng-template  -->
     <ng-container  *ngFor="let items of Iproducts">
   <!-- <div class="col-sm-3 " *ngIf="items.quantity > 0">  -->
   <div class="col-sm-3 ">

      <div class="card my-4" style="width: 18rem;">
 <!-- colorBorder="" -->
        <img class="card-img-top img-fluid" [src]="items.galleryUrl" alt="Card image cap" appImageStyle colorBorder="black" >
        <div class="card-body">
          <!-- //class ,Ngclass -->
          <!-- <h5 class="card-title" [class.test]="items.quantity == 0"  [class.text-danger]="items.quantity == 0"   >{{items.gallaryNama}}</h5> -->
          <!-- <h5 class="card-title" [ngClass]="{'text-danger':items.quantity == 0,'bg-dark':items.quantity == 0}"    >{{items.gallaryNama}}</h5> -->
          <!-- //property style -->
          <!-- <h5 class="card-title" [style.color]="(items.quantity == 0)? 'yellow' :'red'"  [style.background-color]="(items.quantity == 0)? 'yellow' :'red'"   >{{items.gallaryNama}}</h5> -->
          <!-- //NgSTYLE -->
          <h5 appImageStyle class="card-title"
            [ngStyle]="{'color':(items.quantity > 0)? 'yellow' :'red','background-color':(items.quantity == 0)? 'white' :'black' }">
            {{items.gallaryNama | uppercase}}</h5>
          <p>price:{{items.price  | currency :'SAR' }}</p>
          <p>Quantity:{{items.quantity}}  </p>

          <!-- <ng-container [ngSwitch]="items.quantity">
            <ng-container *ngSwitchCase="1">
              last one in stock
            </ng-container>
            <ng-container *ngSwitchCase="0">
              out of stock
            </ng-container>
            <div *ngSwitchCase="200">
               in stock
               </div>
            <ng-container *ngSwitchDefault>
              in stock
            </ng-container>
          </ng-container>    -->

<!-- //key:REF -->
          <ng-container *ngIf="items.quantity >0 ;else REF" >
                In stock
          </ng-container>
          <ng-template #REF> out of stock </ng-template>

<div>
    <button class="btn btn-danger" [disabled]="items.quantity == 0" >
            Add to cart
   </button>
</div>
<div>
  <!-- <button class="btn btn-danger mt-1" (click)="getProductID(items.id)" > -->
  <button class="btn btn-danger mt-1" [routerLink]="['/Products',items.id]" > 

         Details
 </button>
</div>
        </div>

      </div>
    </div>

     </ng-container>

    </div>
</div>
